<div class="row">
    <div class="col-6">
        <form (submit)="submitForm($event)" action="">
            <div class="form-group">
                <label for="">ID</label>
                <input [disabled]="formData.id != 0" type="text" class="form-control" 
                  (change)="updateFormObjectAttribute('id', $event)"
                  [value]="formData.id" name="id">
            </div>
            <div class="form-group">
                <label for="">Name</label>
                <input type="text" class="form-control"
                (change)="updateFormObjectAttribute('name', $event)"
                  [value]="formData.name" name="name">
            </div>
            <div class="form-group">
                <label for="">Image</label>
                <input type="text" class="form-control"
                (change)="updateFormObjectAttribute('image', $event)"
                  [value]="formData.image" name="image">
            </div>
            <div class="form-group">
                <label for="">Description</label>
                <input type="text" class="form-control"
                (change)="updateFormObjectAttribute('description', $event)"
                  [value]="formData.description" name="description">
            </div>
            <div class="form-check" *ngFor="let magic of templateMagic">
              <input class="form-check-input" 
                (click)="updateFormObjectMagic(magic, $event)" 
                [checked]="checkMagic(magic.id)" 
                [value]="magic.id"
                name="magics[]"
                type="checkbox" id="magic-{{magic.id}}">
              <label class="form-check-label" for="magic-{{magic.id}}">
                <span>{{ magic.icon }}</span> - {{magic.name}}
              </label>
            </div>
            <div>
                <button class="btn btn-success" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>