<div class="container px-6 mx-auto grid">
    <div class="flex justify-between">
        <h2 class="flex item-center my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
            Comic
        </h2>
        <a routerLink="create"
            class="my-6 items-center px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
            Add Comic
        </a>
    </div>
    <div class="w-full overflow-hidden rounded-lg shadow-xs">
        <div class="w-full overflow-x-auto">
            <table class="w-full whitespace-no-wrap">
                <thead>
                    <tr
                        class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                        <th class="px-4 py-3">#</th>
                        <th class="px-4 py-3">Title <i class="fas fa-sort-amount-up-alt sort" (click)="sortData($event, 'title')"></i></th>
                        <th class="px-4 py-3">Author <i class="fas fa-sort-amount-up-alt sort" (click)="sortData($event, 'author')"></i></th>
                        <th class="px-4 py-3">Category <i class="fas fa-sort-amount-up-alt sort" (click)="sortData($event, 'category')"></i></th>
                        <th class="px-4 py-3">Status <i class="fas fa-sort-amount-up-alt sort" (click)="sortData($event, 'status')"></i></th>
                        <th class="px-4 py-3">Views <i class="fas fa-sort-amount-up-alt sort" (click)="sortData($event, 'views')"></i></th>
                        <th class="px-4 py-3">Actions</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                    <tr class="text-gray-700 dark:text-gray-400" *ngFor="let comic of comics; index as i">
                        <td class="px-4 py-3 text-sm">
                            {{i+1}}
                        </td>
                        <td class="px-4 py-3 text-sm">
                            <div class="flex items-center text-sm">
                                <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                                  <img class="object-cover w-full h-full rounded-full" [src]="comic.image" alt="" loading="lazy">
                                  <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                                </div>
                                <div>
                                  <p class="font-semibold">{{comic.title}}</p>
                                </div>
                              </div>
                        </td>
                        <td class="px-4 py-3 text-xs">
                            {{comic.author}}
                        </td>
                        <td class="px-4 py-3 text-xs">
                            {{comic.category}}
                        </td>
                        <td class="px-4 py-3 text-xs">
                            {{comic.status | status}}
                        </td>
                        <td class="px-4 py-3 text-xs">
                            {{comic.views}}
                        </td>
                        <td class="px-4 py-3 text-sm">
                            <a [routerLink]="'/admin/comic/edit/'+comic.id"
                                class="px-3 py-1 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-md active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">Sửa</a>
                            | <a class="px-3 py-1 text-sm cursor-pointer font-medium leading-5 text-white transition-colors duration-150 bg-red-600 border border-transparent rounded-md active:bg-red-600 hover:bg-red-700 focus:outline-none focus:shadow-outline-red"
                                (click)="delete($event, comic.id)">Xóa</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div
            class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800">
        </div>
    </div>
</div>