<div class="container">
    <form class="row">
        <div class="col-12">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" aria-describedby="usernamelHelp" placeholder="Enter username" (keyup)="updateUsername($event)">
              <p id="usernamelHelp" class="" [ngClass]="{'text-danger': formObject.username.length < 5}" *ngIf="formObject.username.length < 5">Error</p>
              <p id="usernamelHelp" class="" [ngClass]="{'text-success': formObject.username.length >= 5}" *ngIf="formObject.username.length >= 5">Success</p>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <div class="row">
        <p> Giới tính: {{ gender | test }}</p>
    </div>
</div>
